---
- name: Install NGINX
  apt:
    name: nginx
    state: present
  become: true
  notify: restart nginx

- name: Copy NGINX configuration from template
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: restart nginx
